<?xml version="1.0" ?>
<launch>

<!-- Launch the interbotix gazebo robot-->
  <!-- Define arguments for the included launch file -->
  <arg name="show_lidar" default="true" />
  <arg name="use_trajectory_controllers" default="true" />
  <arg name="robot_model" default="locobot_wx250s" />

  <arg name="run_point_A_B_demo" default="true" />

  <!-- Include the contents of another launch file -->
  <include file="$(find interbotix_xslocobot_gazebo)/launch/xslocobot_gazebo.launch">
    <arg name="show_lidar" value="$(arg show_lidar)" />
    <arg name="use_trajectory_controllers" value="$(arg use_trajectory_controllers)" />
    <arg name="robot_model" value="$(arg robot_model)" />
  </include>


  <!-- run the saved rviz environment -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find me326_locobot_example)/rviz/rviz_example_env.rviz" />


  <!-- Now run the node for going from point A to B -->
<group if="$(arg run_point_A_B_demo)">
  <node type="locobot_example_motion.py" name="locobot_example_motion" pkg="me326_locobot_example" respawn="true" />
</group>

</launch>


