<?xml version="1.0" ?>
<launch>

  <!-- this script spawns 4 cubes - blue, red, green and yellow, all approximately 1meter from the locobots origin position -->

  <!-- Spawn the Blue cube ~1 meter away from the locobot origin-->
  <param name="blue_cube_model" textfile="$(find me326_locobot_example)/model/blue_cube.urdf"/>
  <!-- X,Y,Z location of the cube in the world frame -->
  <arg name="blue_cube_x" default="1.5"/>
  <arg name="blue_cube_y" default="0.0"/>
  <arg name="blue_cube_z" default="0.1"/>
  <!-- Roll, pitch, yaw (zero means no rotation) -->
  <arg name="blue_cube_R" default="0.0"/>
  <arg name="blue_cube_P" default="0.0"/>
  <arg name="blue_cube_Y" default="0.0"/>

  <!-- Spawn the cube -->
  <node name="spawn_blue_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -param blue_cube_model -model blue_cube -x $(arg blue_cube_x) -y $(arg blue_cube_y) -z $(arg blue_cube_z) -R $(arg blue_cube_R) -P $(arg blue_cube_P) -Y $(arg blue_cube_Y)" respawn="false" output="screen" />

  <!-- ############################################################# -->


  <!-- Now spawn the red cube again approximately 1m from the locobot orgin near the blue cube -->
  <param name="red_cube_model" textfile="$(find me326_locobot_example)/model/red_cube.urdf"/>
  <!-- X,Y,Z location of the cube in the world frame -->
  <arg name="red_cube_x" default="1.5"/>
  <arg name="red_cube_y" default="0.3"/>
  <arg name="red_cube_z" default="0.1"/>
  <!-- Roll, pitch, yaw (zero means no rotation) -->
  <arg name="red_cube_R" default="0.0"/>
  <arg name="red_cube_P" default="0.0"/>
  <arg name="red_cube_Y" default="0.0"/>

  <!-- Spawn the cube -->
  <node name="spawn_red_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -param red_cube_model -model red_cube -x $(arg red_cube_x) -y $(arg red_cube_y) -z $(arg red_cube_z) -R $(arg red_cube_R) -P $(arg red_cube_P) -Y $(arg red_cube_Y)" respawn="false" output="screen" />

  <!-- ############################################################# -->

  <!-- Now spawn the green cube again approximately 1m from the locobot orgin near the blue cube -->
  <param name="green_cube_model" textfile="$(find me326_locobot_example)/model/green_cube.urdf"/>
  <!-- X,Y,Z location of the cube in the world frame -->
  <arg name="green_cube_x" default="1.5"/>
  <arg name="green_cube_y" default="-0.3"/>
  <arg name="green_cube_z" default="0.1"/>
  <!-- Roll, pitch, yaw (zero means no rotation) -->
  <arg name="green_cube_R" default="0.0"/>
  <arg name="green_cube_P" default="0.0"/>
  <arg name="green_cube_Y" default="0.0"/>

  <!-- Spawn the cube -->
  <node name="spawn_green_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -param green_cube_model -model green_cube -x $(arg green_cube_x) -y $(arg green_cube_y) -z $(arg green_cube_z) -R $(arg green_cube_R) -P $(arg green_cube_P) -Y $(arg green_cube_Y)" respawn="false" output="screen" />


  <!-- ############################################################# -->


  <!-- Now spawn the yellow cube again approximately 1m from the locobot orgin near the blue cube -->
  <param name="yellow_cube_model" textfile="$(find me326_locobot_example)/model/yellow_cube.urdf"/>
  <!-- X,Y,Z location of the cube in the world frame -->
  <arg name="yellow_cube_x" default="1.8"/>
  <arg name="yellow_cube_y" default="0.0"/>
  <arg name="yellow_cube_z" default="0.1"/>
  <!-- Roll, pitch, yaw (zero means no rotation) -->
  <arg name="yellow_cube_R" default="0.0"/>
  <arg name="yellow_cube_P" default="0.0"/>
  <arg name="yellow_cube_Y" default="0.0"/>

  <!-- Spawn the cube -->
  <node name="spawn_yellow_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -param yellow_cube_model -model yellow_cube -x $(arg yellow_cube_x) -y $(arg yellow_cube_y) -z $(arg yellow_cube_z) -R $(arg yellow_cube_R) -P $(arg yellow_cube_P) -Y $(arg yellow_cube_Y)" respawn="false" output="screen" />


</launch>
