<launch>

  <arg name="robot_model"                       default=""/>
  <arg name="robot_name"                        default="locobot"/>
  <arg name="arm_model"                         default="$(eval 'mobile_' + arg('robot_model').split('_')[1])"/>
  <arg name="show_lidar"                        default="false"/>
  <arg name="show_gripper_bar"                  default="true"/>
  <arg name="show_gripper_fingers"              default="true"/>
  <arg name="external_urdf_loc"                 default=""/>
  <arg name="use_rviz"                          default="false"/>
  <arg name="rviz_frame"                        default="$(arg robot_name)/base_footprint"/>
  <arg name="world_name"                        default="$(find interbotix_xslocobot_gazebo)/worlds/xslocobot_gazebo.world"/>
  <arg name="gui"                               default="true"/>
  <arg name="debug"                             default="false"/>
  <arg name="paused"                            default="true"/>
  <arg name="recording"                         default="false"/>
  <arg name="use_sim_time"                      default="true"/>
  <arg name="use_position_controllers"          default="false"/>
  <arg name="use_trajectory_controllers"        default="false"/>
  <arg name="dof"                               default="5"/>


  <arg name="robot_model_1"                     default="locobot_wx250s"/>
  <arg name="robot_model_2"                     default="locobot_wx250s"/>
  <arg name="robot_name_1"                      default="locobot_1"/>
  <arg name="robot_name_2"                      default="locobot_2"/>
  <arg name="rvizconfig"                        default="$(find interbotix_xslocobot_descriptions)/rviz/many_locobots.rviz" />

  <include file="$(find interbotix_xslocobot_descriptions)/launch/xslocobot_description.launch">
    <arg name="robot_model"                       value="$(arg robot_model_1)"/>
    <arg name="robot_name"                        value="$(arg robot_name_1)"/>
    <arg name="show_lidar"                        value="true"/>
    <arg name="use_joint_pub_gui"                 value="true"/>
    <arg name="use_rviz"                          value="false"/>
  </include>

  <include file="$(find interbotix_xslocobot_descriptions)/launch/xslocobot_description.launch">
    <arg name="robot_model"                       value="$(arg robot_model_2)"/>
    <arg name="robot_name"                        value="$(arg robot_name_2)"/>
    <arg name="use_joint_pub_gui"                 value="true"/>
    <arg name="use_rviz"                          value="false"/>
  </include>


  <env name="GAZEBO_RESOURCE_PATH"              value="$(find interbotix_xslocobot_gazebo)"/>

  <rosparam file="$(find interbotix_xslocobot_gazebo)/config/locobot_gazebo_controllers.yaml" command="load" ns="$(arg robot_name_1)"/>

  <rosparam file="$(find interbotix_xslocobot_gazebo)/config/locobot_gazebo_controllers.yaml" command="load" ns="$(arg robot_name_2)"/>

  <!-- Launch Gazebo empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"                        value="$(arg world_name)"/>
    <arg name="gui"                               value="$(arg gui)" />
    <arg name="debug"                             value="$(arg debug)" />
    <arg name="paused"                            value="$(arg paused)"/>
    <arg name="recording"                         value="$(arg recording)"/>
    <arg name="use_sim_time"                      value="$(arg use_sim_time)"/>
  </include>

  <!--Locobot 2 Controllers -->
  <group if="$(eval robot_model_1 != 'locobot_base')">

    <group if="$(arg use_trajectory_controllers)">
      <rosparam file="$(find interbotix_xslocobot_gazebo)/config/trajectory_controllers/$(arg arm_model)_trajectory_controllers.yaml" command="load" ns="$(arg robot_name_1)"/>
      <node
        name="controller_spawner"
        pkg="controller_manager"
        type="controller_manager"
        respawn="false"
        output="screen"
        ns="$(arg robot_name_1)"
        args="spawn arm_controller gripper_controller pan_controller tilt_controller joint_state_controller"/>
    </group>

    <group if="$(arg use_position_controllers)">
      <rosparam file="$(find interbotix_xslocobot_gazebo)/config/position_controllers/$(arg arm_model)_position_controllers.yaml" command="load" ns="$(arg robot_name_1)"/>

      <node if="$(eval dof == 4)"
        name="controller_spawner"
        pkg="controller_manager"
        type="controller_manager"
        respawn="false"
        output="screen"
        ns="$(arg robot_name_1)"
        args="spawn joint_state_controller waist_controller shoulder_controller
                    elbow_controller wrist_angle_controller left_finger_controller
                    right_finger_controller pan_controller tilt_controller"/>

      <node if="$(eval dof == 5)"
        name="controller_spawner"
        pkg="controller_manager"
        type="controller_manager"
        respawn="false"
        output="screen"
        ns="$(arg robot_name_1)"
        args="spawn joint_state_controller waist_controller shoulder_controller
                    elbow_controller wrist_angle_controller wrist_rotate_controller
                    left_finger_controller right_finger_controller pan_controller
                    tilt_controller"/>

      <node if="$(eval dof == 6)"
        name="controller_spawner"
        pkg="controller_manager"
        type="controller_manager"
        respawn="false"
        output="screen"
        ns="$(arg robot_name_1)"
        args="spawn joint_state_controller waist_controller shoulder_controller
                    elbow_controller forearm_roll_controller wrist_angle_controller
                    wrist_rotate_controller left_finger_controller right_finger_controller
                    pan_controller tilt_controller"/>
    </group>




  </group>

  <!--Locobot 2 Controllers -->
  <group if="$(eval robot_model_2 != 'locobot_base')">

    <group if="$(arg use_trajectory_controllers)">
      <rosparam file="$(find interbotix_xslocobot_gazebo)/config/trajectory_controllers/$(arg arm_model)_trajectory_controllers.yaml" command="load" ns="$(arg robot_name_2)"/>
      <node
        name="controller_spawner"
        pkg="controller_manager"
        type="controller_manager"
        respawn="false"
        output="screen"
        ns="$(arg robot_name_2)"
        args="spawn arm_controller gripper_controller pan_controller tilt_controller joint_state_controller"/>
    </group>

    <group if="$(arg use_position_controllers)">
      <rosparam file="$(find interbotix_xslocobot_gazebo)/config/position_controllers/$(arg arm_model)_position_controllers.yaml" command="load" ns="$(arg robot_name_2)"/>

      <node if="$(eval dof == 4)"
        name="controller_spawner"
        pkg="controller_manager"
        type="controller_manager"
        respawn="false"
        output="screen"
        ns="$(arg robot_name_2)"
        args="spawn joint_state_controller waist_controller shoulder_controller
                    elbow_controller wrist_angle_controller left_finger_controller
                    right_finger_controller pan_controller tilt_controller"/>

      <node if="$(eval dof == 5)"
        name="controller_spawner"
        pkg="controller_manager"
        type="controller_manager"
        respawn="false"
        output="screen"
        ns="$(arg robot_name_2)"
        args="spawn joint_state_controller waist_controller shoulder_controller
                    elbow_controller wrist_angle_controller wrist_rotate_controller
                    left_finger_controller right_finger_controller pan_controller
                    tilt_controller"/>

      <node if="$(eval dof == 6)"
        name="controller_spawner"
        pkg="controller_manager"
        type="controller_manager"
        respawn="false"
        output="screen"
        ns="$(arg robot_name_2)"
        args="spawn joint_state_controller waist_controller shoulder_controller
                    elbow_controller forearm_roll_controller wrist_angle_controller
                    wrist_rotate_controller left_finger_controller right_finger_controller
                    pan_controller tilt_controller"/>
    </group>


    

  </group>

  <node unless="$(eval robot_model_1 != 'locobot_base')"
    name="controller_spawner"
    pkg="controller_manager"
    type="controller_manager"
    respawn="false"
    output="screen"
    ns="$(arg robot_name_1)"
    args="spawn pan_controller tilt_controller joint_state_controller"/>

  <node unless="$(eval robot_model_2 != 'locobot_base')"
    name="controller_spawner"
    pkg="controller_manager"
    type="controller_manager"
    respawn="false"
    output="screen"
    ns="$(arg robot_name_2)"
    args="spawn pan_controller tilt_controller joint_state_controller"/>

<!--   <include file="$(find interbotix_xslocobot_descriptions)/launch/xslocobot_description.launch">
    <arg name="robot_model"                       value="$(arg robot_model)"/>
    <arg name="robot_name"                        value="$(arg robot_name)"/>
    <arg name="show_lidar"                        value="$(arg show_lidar)"/>
    <arg name="show_gripper_bar"                  value="$(arg show_gripper_bar)"/>
    <arg name="show_gripper_fingers"              value="$(arg show_gripper_fingers)"/>
    <arg name="external_urdf_loc"                 value="$(arg external_urdf_loc)"/>
    <arg name="use_rviz"                          value="$(arg use_rviz)"/>
    <arg name="rviz_frame"                        value="$(arg rviz_frame)"/>
  </include> -->

  <!-- Spawns locobot_1 at (0,0,0) -->
  <node
    name="urdf_spawner"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false"
    output="screen"
    ns="$(arg robot_name_1)"
	  args="-urdf -model $(arg robot_name_1) -param robot_description"/>

  <!-- Spawns locobot_2 at (0,1,0) -->
  <node
    name="urdf_spawner"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false"
    output="screen"
    ns="$(arg robot_name_2)"
    args="-urdf -model $(arg robot_name_2) -param robot_description -y 1"/>

</launch>
